## Mean Reversion Strategy

### Imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import yfinance as yf

### Load Data

In [2]:
data = yf.download('EURUSD=X', start='2000-01-01')
data = data[['Close']]
data = data.dropna()

print(data.head())

[*********************100%%**********************]  1 of 1 completed

               Close
Date
2003-12-01  1.196501
2003-12-02  1.208897
2003-12-03  1.212298
2003-12-04  1.208094
2003-12-05  1.218695

### Mean Reversion Strategy

In [3]:
half_life = 243     # From mean-reversion-and-stationarity.ipynb

# Moving Average & Std. Deviation
data['MovingAvg'] = data['Close'].rolling(window=half_life).mean()
data['MovingStd'] = data['Close'].rolling(window=half_life).std()

# Z-Score & Position
data['Z'] = (data['Close'] - data['MovingAvg']) / data['MovingStd']
data['Position'] = -data['Z']

In [8]:
data[data['Position'].notna()]

               Close  MovingAvg  MovingStd         Z  Position
Date
2004-11-04  1.287300   1.229394   0.024674  2.346862 -2.346862
2004-11-05  1.296697   1.229806   0.024957  2.680227 -2.680227
2004-11-08  1.290806   1.230143   0.025225  2.404811 -2.404811
2004-11-09  1.289907   1.230463   0.025489  2.332188 -2.332188
2004-11-10  1.288593   1.230794   0.025719  2.247375 -2.247375
...              ...        ...        ...       ...       ...
2024-02-06  1.074183   1.083987   0.016233 -0.603932  0.603932
2024-02-07  1.075720   1.084052   0.016168 -0.515313  0.515313
2024-02-08  1.077575   1.084113   0.016115 -0.405754  0.405754
2024-02-09  1.077726   1.084150   0.016090 -0.399273  0.399273
2024-02-11  1.078632   1.084247   0.015985 -0.351244  0.351244

[5000 rows x 5 columns]